
body {
    font-family: Verdana;
    background-image: url("/static/MTTUJ0B.png");
    font-size:  small;
            }
.main_q {
    margin: 40px;
         }
.low_q{
    background-color: whitesmoke;
    border-radius:6px;
    opacity: 0.8;
    border: 2px solid black;
         }
.low2_q{
    background-color: whitesmoke;
    border-radius:6px;
    opacity: 0.8;
    border: 2px solid black;
    margin: 40px;
         }
.text{
    margin: 10px;
         }

a:link, a:visited {
    background-color: #727172;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 200px;
}
a:hover, a:active {
    background-color: #5c5b5c;
}

*{box-sizing: border-box;}
body{margin:0}
nav {
  font-family: 'Open Sans', sans-serif;

}
nav:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
    opacity: 0.9;
}
a {
  text-decoration: none;
  transition: .3s linear;
}
.menu > li {
  float: left;
  position: relative;
}
.menu > li:first-child {
  border-left: 0;
}
.menu > li > a {
  display: block;
  padding: 20px 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FEFDFD;
  letter-spacing: 2px;
}

.submenu > li > a {
  font-size: 5px;
  text-transform: uppercase;
  color: #FEFDFD;
  letter-spacing: 2px;
}
.submenu > li >a:hover {
  color: #669bdd;
}

.menu > li > a:hover {
    color: #669bdd;
}

.menu .fa, .submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  background: #5c5b5c;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transform-origin: 0% 0%;
  transform-style: preserve-3d;
  transform: rotateX(-90deg);
  transition: .3s linear;
    min-width: 200px;
}
.submenu li {
  position: relative;
}
.submenu li a {
  color: #fafafa;
  display: block;
  padding: 10px 20px;
  font-size: 13px;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}
.submenu li {
  position: relative;
}
li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}