<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/page_sample.css" type="text/css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<nav>
  <ul class="menu">
      {% for name, url in urls_main.items() %}
      <li><a href="{{ url }}" class="active">{{ name }}</a>
      {% endfor %}
    <li><a href="" class="active">База вопросов<span class="fa fa-angle-down"></span></a>
      <ul class="submenu">
          {% for name, url in urls.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
          {% endfor %}
            </li>
      </ul>
    <li><a href="" class="avtive">Управление</a>
        <ul class="submenu">
            {% for name, url in urls_2.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
        <li><a href="" class="avtive">Пройти анкету</a>
        <ul class="submenu">
            {% for name, url in urls_3.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
        <li><a href="" class="avtive">Поиск ответов</a>
        <ul class="submenu">
            {% for name, url in urls_4.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
      <li><a href="" class="avtive">Экспорт в csv</a>
        <ul class="submenu">
            {% for name, url in urls_5.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
  </ul>
    </li>
  </ul>
</nav>
<div class="main_text">
            <p class="header">Форма для добавления вопросов в анкету</p>
            <form class="form_1" action="/add_qs_chosen_result">
                <ul>
                    <li>
                    <label>Выберите нужную анкету: </label>
                            <select name="form_name">
                            {% for element in TABLES %}
                            <option value="{{ element }}">{{ element }}</option>
                            {% endfor %}
                            </select>
                    </li>
                <li>
                    <label>Выберете нужный вопрос: </label>
                            <select name="qs">
                            {% for element in QS %}
                            <option value="{{ element }}">{{ element }}</option>
                            {% endfor %}
                            </select>
                </li>
                    <li>
                    <input type="submit" value="Отправить">
                </li>
                </ul>
            </form>
        </div>
</body>
</html>