<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/page_sample.css" type="text/css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="main_q">
    <div class="low_q">
<form action="/add_to_db">
<label><b>Выберете txt файл для загрузки </b><input type="file" name="file_name"></label><br>
<label><b>Введите название блока вопросов: </b><input type="text" name="block_name"></label>
<p><input type="submit" value="Отправить"></p>
</form>
</div>
    </div>
</body>
</html>