<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link href="/static/page_sample.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
</head>
<body>
<nav>
  <ul class="menu">
      {% for name, url in urls_main.items() %}
      <li><a href="{{ url }}" class="active">{{ name }}</a>
      {% endfor %}
    <li><a href="" class="active">База вопросов<span class="fa fa-angle-down"></span></a>
      <ul class="submenu">
          {% for name, url in urls.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
          {% endfor %}
            </li>
      </ul>
    <li><a href="" class="avtive">Управление</a>
        <ul class="submenu">
            {% for name, url in urls_2.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
        <li><a href="" class="avtive">Пройти анкету</a>
        <ul class="submenu">
            {% for name, url in urls_3.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
        <li><a href="" class="avtive">Поиск ответов</a>
        <ul class="submenu">
            {% for name, url in urls_4.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
      <li><a href="" class="avtive">Экспорт в csv</a>
        <ul class="submenu">
            {% for name, url in urls_5.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
  </ul>
    </li>
  </ul>
</nav>
<div class="main_text">
            <p class="header">Форма для добавления респондента</p>
            <form class="form_1" action="/add_cors_fin">
                <ul>
                <li>
                    <label>ФИО респондента:</label>
                    <input type="text" name="name" />
                    <span class="hint">Например: Михайлов Степан</span>
                </li>
                <li>
                    <label>Возраст респондента:</label>
                    <input type="text" name="year" />
                    <span class="hint">Например: 19</span>
                </li>
                <li>
                    <label>Город рождения респондента: </label>
                    <input type="text" name="town" />
                    <span class="hint">Например: Москва</span>
                </li>
                <li>
                    <label>Пол респондента: </label>
                    <select name="gender">
                        <option value="Женский">Женский</option>
                        <option value="Мужской">Мужской</option>
                    </select>
                </li>
                <li>
                    <label>Дополнительная информация(Необязательно): </label>
                    <textarea name="additional_info" cols="40" rows="6"></textarea>
                </li>
                <li>
                    <input type="submit" value="Отправить">
                </li>
                </ul>
            </form>
        </div>
</body>
</html>