<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/style.css" type="text/css" rel="stylesheet">
    <title>Ошибка экспорта</title>
</head>
<body>
    <nav>
  <ul class="menu">
    <li><a href="" class="active">База вопросов<span class="fa fa-angle-down"></span></a>
      <ul class="submenu">
          {% for name, url in urls.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
          {% endfor %}
            </li>
      </ul>
    <li><a href="" class="avtive">Управление</a>
        <ul class="submenu">
            {% for name, url in urls_2.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
        <li><a href="" class="avtive">Пройти анкету</a>
        <ul class="submenu">
            {% for name, url in urls_3.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
        <li><a href="" class="avtive">Поиск по ответам</a>
        <ul class="submenu">
            {% for name, url in urls_4.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
      <li><a href="" class="avtive">Экспорт в csv</a>
        <ul class="submenu">
            {% for name, url in urls_5.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
  </ul>
    </li>
  </ul>
</nav>
    <p>Во время экспорта возникла ошибка. Проверьте консоль для определения неисправности.</p>
</body>
</html>