<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/crt_form_fnl">
<label><b>Введите название блока: </b><input type="text" name="block_name"></label><br>
<label><b>Введите количество нужных вопросов из данного блока: </b><input type="text" name="amount"></label>
<label><b>Введите название новой анкеты: </b><input type="text" name="form_name"></label><br>

    <p><input type="submit" value="Отправить"></p>
</form>
</body>
</html>