<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link href="/static/page_sample.css" type="text/css" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="main_q">
<div class="low_q">
    <p id="text_block"></p>
    <br>
    <p id="text_block2"></p>
<script language="JavaScript">
    var text = "{{ jsn }}";

    obj = JSON.parse(text);
    document.getElementById("text_block").innerHTML = obj.items[1];
    document.getElementById("text_block2").innerHTML = text;
</script>
</div>
</div>
</body>
</html>