<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/page_sample.css" type="text/css" rel="stylesheet">
    <title>Главная</title>
</head>
<body>
<div>
    <nav>
  <ul class="menu">
      {% for name, url in urls_main.items() %}
      <li><a href="{{ url }}" class="active">{{ name }}</a>
      {% endfor %}
    <li><a href="" class="active">База вопросов<span class="fa fa-angle-down"></span></a>
      <ul class="submenu">
          {% for name, url in urls.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
          {% endfor %}
            </li>
      </ul>
    <li><a href="" class="avtive">Управление</a>
        <ul class="submenu">
            {% for name, url in urls_2.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
        <li><a href="" class="avtive">Пройти анкету</a>
        <ul class="submenu">
            {% for name, url in urls_3.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
        <li><a href="" class="avtive">Поиск по ответам</a>
        <ul class="submenu">
            {% for name, url in urls_4.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
      <li><a href="" class="avtive">Экспорт в csv</a>
        <ul class="submenu">
            {% for name, url in urls_5.items() %}
            <li><a href="{{ url }}">{{ name }}</a>
            {% endfor %}
            </li>
        </ul>
  </ul>
    </li>
  </ul>
</nav>
</div>
<div class="main_text">
    <p class="header">Добро пожаловать в программу-анкетатор</p>
    <p class="instruction">Данная программа создана для проведения опрос-анкетирования. Ниже коротко будет расписано
    ,как здесь все работает.</p>
    <p class="instruction">Чтобы добавить вопросы в базу данных, вам небходимо перейти во вкладку <b class="high_instruction">"База вопросов"</b>
     и выбрать удобный вам способ.</p>
    <p class="instruction">Для того, чтобы создать анкету или добавить респендента, необходимо перейти в соответвующие
    пунты меню во вкладке <b class="high_instruction">"Управление"</b>. В той же вкладке вы можете добавить вопросы в анкету выбрав подходящий вам способ.</p>
    <p class="instruction"><b class="high_instruction">"Добавить рандомные вопросы в анкету"</b> - Из нужного блока выбрать n вопросов</p>
    <p class="instruction"><b class="high_instruction">"Добавить конкретные вопросы в анкету"</b> - Из сузествующих в базе данных аопросов, добвать какой-то определенный</p>
    <p class="instruction"><b class="high_instruction">"Добавить новые вопросы в анкету"</b> - Если вопроса нет в базе данных, то вы можете добавить его через эту вкладку.
    Этот вопрос автоматически добавится в базу данных.</p>
    <p class="instruction">После того, как вы создали анкету, добавили в нее необходимые вопросы и создали респондента, можно переходить к
    прохождению анкеты. Переходите во вкладку <b class="high_instruction">"Пройти анкету"</b> и затем <b class="high_instruction">"Пройти готовую анкету"</b>.</p>
    <p class="instruction">Когда все ответы получены, можно переходить к просмотру ответов или выгрузке информации.</p>
        <p class="instruction"><b class="high_instruction">"Экспорт в CSV"</b> создаст в папке с программой csv-файл в который будет загруженна необходимая вам информация.</p>
    <p class="instruction"><b class="high_instruction">"Поиск по ответам"</b> позволит вам просмотреть ответы по нужным фильтрам.</p>
</div>
</body>
</html>